    /* RESET */
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
    }

    body {
      background-color: rgb(16, 16, 82);
      color: white;
    }

    /* NAVBAR */
    nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 75px;
      background-color: rgb(5, 5, 48);
    }

    nav ul {
      display: flex;
      list-style: none;
    }

    nav ul li {
      margin: 0 18px;
    }

    nav ul li a {
      text-decoration: none;
      color: white;
    }

    nav ul li a:hover {
      color: rgb(185, 115, 250);
      font-size: 1.06rem;
    }

    .logo {
      font-size: 1.5rem;
    }

    /* HERO */
    .hero {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 80px 120px;
      flex-wrap: wrap;
    }

    .hero-left {
      max-width: 500px;
      font-size: 1.8rem;
    }

    .hero-left span {
      color: rgb(185, 115, 250);
    }

    .hero-buttons {
      margin-top: 25px;
    }

    .btn {
      padding: 10px 18px;
      background-color: #4141b9;
      color: white;
      border-radius: 5px;
      text-decoration: none;
      font-size: 14px;
      margin-right: 10px;
    }

    .btn-outline {
      background: transparent;
      border: 1px solid white;
    }

    /* SECTIONS COMMON */
    section {
      max-width: 85vw;
      margin: auto;
      padding: 70px 0;
    }

    .section-header {
      text-align: center;
      margin-bottom: 40px;
    }

    .section-header span {
      color: gray;
      font-size: 13px;
    }

    .section-header h1 {
      font-size: 1.9rem;
      margin-top: 8px;
    }

    /* ABOUT PREVIEW */
    .about-text {
      text-align: center;
      max-width: 700px;
      margin: auto;
      color: gray;
      font-size: 15px;
    }

    /* SERVICES */
    .services-grid,
    .projects-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 30px;
    }

    .card {
      background-color: rgb(5, 5, 48);
      padding: 25px;
      border-radius: 10px;
      transition: 0.3s;
      border: 1px solid transparent;
    }

    .card:hover {
      transform: translateY(-8px);
      border-color: rgb(185, 115, 250);
    }

    .card p {
      color: gray;
      font-size: 14px;
    }

    /* PROJECT TAGS */
    .tags span {
      font-size: 12px;
      background-color: rgb(16, 16, 82);
      padding: 4px 8px;
      margin-right: 5px;
      border-radius: 4px;
    }

    /* CTA */
    .cta {
      background-color: rgb(5, 5, 48);
      text-align: center;
      padding: 60px 20px;
    }

    /* FOOTER */
    footer {
      text-align: center;
      padding: 15px;
      color: gray;
      font-size: 13px;
    }